body{
    padding: 100px;
}
.login{
    margin-top: 70px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 10px gray;
}
#taka{
    display: none;
}
.withdraw{
    background-color: slateblue;
}
.deposite{
    background-color: lightsalmon;
}
.savings{
    background-color: lime;
}
.status{
    margin: 0px 10px;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
.last{
    margin-top: 100px;
}